body {
    background-color: #EDFBFD;
    font-family: 'Fresca';
    border-radius: 1px;
}

#splashicon {
    font-size: 5em;
    color: #7E9638;
}

.jumbotron {
    border-radius: 1px;
    background-color: white;
    text-align: center;
    padding: 10px;
}

.container-fluid {
    border: 1px solid #FDF8EA;
    border-radius: 1px;
    color: white;
    background-color: #DDC683;
}

#breedDetail {
    text-align: left;
    font-size: 1em;
    padding: 10px;
}