body {
    background-color: #EDFBFD;
    font-family: 'Raleway';
    color: #110E09;
    border-radius: 1px;
    position: relative;
    // padding-top: 70px;
}

#handlogopaw {
    align-content: center;
}

#splashicon {
    font-size: 4em;
    color: #9EB656;
    // color: #110E09;
}

#breedImage {
    // border: 1px solid #681212;
}

.jumbotron {
    border-radius: 1px;
    background-color: white;
    text-align: center;
    padding: 10px;
}

// NAVBAR style
#navbar {
    border: 1px solid #FDF8EA;
    border-radius: 1px;
    color: white;
    background-color: #DDC683;
}

// FOOTER style
#footer {
    border: 1px solid #FDF8EA;
    border-radius: 1px;
    color: white;
    background-color: #DDC683;
    padding: 10px;
    text-align: right;
    float: none;
    margin-top: 2%;
}

#footerCopyright {
    font-size: 1em;
}

// #aboutButton {
//     justify-content: right;
// }
// QA form styling:
.qXofX {
    font-size: 1em;
    color: lightgray;
    font-style: italic;
}

.custom-controls-stacked {
    // padding: 10px;
    margin: 5%;
}

.custom-radio {
    // padding: 5px;
    font-size: 1.25em;
    margin: 2%;
}

.custom-control-input {
    padding: 5px;
}

#breedDetail {
    text-align: left;
    font-size: 1em;
    padding: 10px;
}

#createAccount {
    text-align: center;
    background-color: white;
    color: #9eb656;
    font-size: 3em;
    font-family: "Sansita";
    border-radius: 2px;
    padding: 10px;
    margin: 2%;
}

// SEARCH input element
.form-control {}