<div class="jumbotron">
    <i id="splashicon" class="material-icons">pan_tool</i>
    <!-- <i id="splashicon" class="material-icons">fingerprint</i> -->
    <i id="splashicon" class="material-icons">pets</i>
    <h1 class="display-3" style="font-family: Arvo" "color: #9EB656">About myDoge</h1>

    <hr class="my-4">
    <!-- About, static page, PURPOSE of APP, thanks page -->
    <hr4>This app was created for NSS Front-End Capstone project, Cohort 21.
        <hr class="my-4">

        <h3>Goals:</h3>
        <i id="splashicon" class="material-icons" style="font-size: 1.5em">fingerprint</i> To make use of an API
        <br>
        <i id="splashicon" class="material-icons" style="font-size: 1.5em">fingerprint</i> To achieve a broader knowledge of Angular directives and controllers:
        <br>
        <i id="splashicon" class="material-icons" style="font-size: 1.5em">fingerprint</i> To empower sophisticated searching and filtering
        <br>
        <i id="splashicon" class="material-icons" style="font-size: 1.5em">fingerprint</i>To template QA forms for expandability
        <br>
        <i id="splashicon" class="material-icons" style="font-size: 1.5em">fingerprint</i>To quickly surface lots of insightful information with minimal user effort (aka good UX/UI)

        <h3>Lessons Learned:</h3>
        <i id="splashicon" class="material-icons" style="font-size: 1.5em">fingerprint</i>Writing and diagraming every feature and method in plain, logical speech. This will reveal the best approach to the code.
        <br>
        <i id="splashicon" class="material-icons" style="font-size: 1.5em">fingerprint</i>Commit every time something new is acheived, no matter how small.
        <br>
        <i id="splashicon" class="material-icons" style="font-size: 1.5em">fingerprint</i>Don't underestimate the patience of your teachers and fellow cohort. Everybody was once a noob, and we all learn differently.
        <br>
        <i id="splashicon" class="material-icons" style="font-size: 1.5em">fingerprint</i>Styling tweaks can go on forever, so slap on a boot-whatever layout and go back to working on functions.
        <br>
        <i id="splashicon" class="material-icons" style="font-size: 1.5em">fingerprint</i>The answers are out there. Developer = expert Googler.


        <hr class="my-4">
        <p class="lead">The purpose of the app is to inform potential dog adopters about the many varied characteristics regarding hundreds of dog breeds. Additionally, potential adopters may answer a questionnaire regarding the specifics of their lifestyle, in an effort
            to match them with the best breeds to adopt.
        </p>
        <br>
        <p class="lead"> The available data may only provide a broad set of guidelines, as it regards characteristics of "pure" breeds. The highly adaptable nature of dogs means that each potential adoptee should be compassionately considered on an individual basis. Furthermore,
            we should all be aware of the careful considerations regarding ethical treatment and precautions involved with adoption of a pure breed.
        </p>
        <br>
        <p class="lead">
            Each dog breed has a fascinating history, representing countless specific traits. While crossing of breeds may not be acceptable for show-quality, it is absolutely beneficial to most bloodlines, and will more likely result in wonderful, healthy offspring,
            revealing infinite combinations of the traits detailed here. Therefore, if you are looking to adopt, please consider rescuing a dog from a shelter. Older dogs in shelters are most often overlooked, but may be a perfect fit in your given situation.
        </p>
        <br>
        <p class="lead">Amet eu sit reprehenderit excepteur. Labore est et culpa nostrud velit consequat incididunt veniam. Enim dolore anim voluptate voluptate cupidatat ad duis proident pariatur. Sint ea elit elit in anim sunt ullamco laborum commodo. Non duis ut ad
            pariatur sint ad amet duis velit ullamco. Esse quis est voluptate dolor exercitation in. Est et velit nulla amet anim nisi elit exercitation irure esse enim veniam cillum deserunt.</p>

        <hr class="my-4">

        <p class="lead">Big ups to these resources that made this app possible</p>
        <a class="btn btn-primary btn-lg" href='' role="button">Callan's API</a>
        <a class="btn btn-primary btn-lg" href='' role="button">Something else</a>

</div>