<div class="jumbotron">
    <i id="splashicon" class="material-icons">pan_tool</i>
    <!-- <i id="splashicon" class="material-icons">fingerprint</i> -->
    <i id="splashicon" class="material-icons">pets</i>
    <h1 class="display-3">About myDoge</h1>

    <hr class="my-4">
    <!-- About, static page, PURPOSE of APP, thanks page -->
    <p class="lead">This app was created for NSS Front-End Capstone project, cohort 21. The purpose is to inform potential dog adopters about the many varied characteristics regarding hundreds of dog breeds. Additionally, potential adopters may answer a questionnaire
        regarding the specifics of their lifestyle, in an effort to match them with the best breeds to adopt.
    </p>
    <p> The available data may only provide a broad set of guidelines, as it regards characteristics of "pure" breeds. The highly adaptable nature of dogs means that each potential adoptee should be compassionately considered on an individual basis. Furthermore,
        we should all be aware of the careful considerations regarding ethical treatment and precautions involving the potential adoption of a pure breed.
    </p>
    <p>
        Each officially-recognized dog breed has been bred through history to represent countless fascinating traits. While crossing of breeds may not be acceptable for show-quality, it is absolutely beneficial to most bloodlines, and will certainly result in
        wonderful, healthy offspring with infinite combinations of the traits detailed here. Please consider rescuing a dog from a shelter, and older dogs from shelters are most often overlooked, but may be a perfect fit in your given situation.
    </p>

    <p class="lead">Amet eu sit reprehenderit excepteur. Labore est et culpa nostrud velit consequat incididunt veniam. Enim dolore anim voluptate voluptate cupidatat ad duis proident pariatur. Sint ea elit elit in anim sunt ullamco laborum commodo. Non duis ut ad pariatur
        sint ad amet duis velit ullamco. Esse quis est voluptate dolor exercitation in. Est et velit nulla amet anim nisi elit exercitation irure esse enim veniam cillum deserunt.</p>

    <hr class="my-4">
    <p class="lead">Big ups to these resources that made this app possible</p>
    <a class="btn btn-primary btn-lg" href='#!/item/newItem' role="button">Callan's API</a>
    <a class="btn btn-primary btn-lg" href='#!/item/newItem' role="button">Something else</a>

</div>