<div class="jumbotron">
    <i id="splashicon" class="material-icons">pan_tool</i>
    <!-- <i id="splashicon" class="material-icons">fingerprint</i> -->
    <i id="splashicon" class="material-icons">pets</i>
    <h2 class="display-3" style="font-family: Arvo" "color: #9EB656">About myDoge</h2>

    <hr class="my-4">
    <!-- About, static page, PURPOSE of APP, thanks page -->
    <hr4>This app was created for NSS Front-End Capstone project, Cohort 21.
        <hr class="my-4">

        <h2>Goals</h2>
        <div id="goalsBullets">
            <p><i id="splashicon" class="material-icons" style="font-size: .75em">done</i> To comprehend interaction with an API.
                <br><br>
                <i id="splashicon" class="material-icons" style="font-size: .75em">done</i> To achieve a broader knowledge of Angular framework:
                <br>
                <i id="splashicon" class="material-icons" style="font-size: .75em">done_all</i> Empower sophisticated searching and filtering.
                <br><br>
                <i id="splashicon" class="material-icons" style="font-size: .75em">done</i> To template QA forms for expandability.
                <br><br>
                <i id="splashicon" class="material-icons" style="font-size: .75em">done</i> To quickly surface insightful information with minimal user effort
                <br>
                <i id="splashicon" class="material-icons" style="font-size: .75em">done_all</i> (aka good UX/UI).
        </div>

        <hr class="my-4">

        <h2>Lessons Learned</h2>
        <div id="lessonsBullets">
            <p><i id="splashicon" class="material-icons" style="font-size: .75em">lightbulb_outline</i>Write down every single thing you intend to build. This will reveal complexities, and hopefully the best approach to your code.
                <br><br>
                <i id="splashicon" class="material-icons" style="font-size: .75em">lightbulb_outline</i>Every small victory deserves a commit.
                <br><br>
                <i id="splashicon" class="material-icons" style="font-size: .75em">lightbulb_outline</i>If you have an 'a-ha' moment, share it. <br> If you're stuck, share that too.
                <br><br>
                <i id="splashicon" class="material-icons" style="font-size: .75em">lightbulb_outline</i>ABC, and most of this will become muscle memory.
                <br><br>
                <i id="splashicon" class="material-icons" style="font-size: .75em">lightbulb_outline</i>Function > Style. Usually.
                <br><br>
                <i id="splashicon" class="material-icons" style="font-size: .75em">lightbulb_outline</i>The answer is out there. Be a professional googler.
        </div>

        <hr class="my-4">

        <h2>Inspiration</h2>
        <h4 style="font-style:italic">(et mild disclaimers)</h4>

        <div id="inspirationBullets">
            <br>
            <p>The purpose of the app is to inform potential dog adopters about the many varied characteristics regarding hundreds of dog breeds. Additionally, potential adopters may answer a questionnaire regarding the specifics of their lifestyle, in an
                effort to match them with the best breeds to adopt.
            </p>
            <br>
            <p> The available data may only provide a broad set of guidelines, as it regards characteristics of "pure" breeds. The highly adaptable nature of dogs means that each potential adoptee should be compassionately considered on an individual basis.
                Furthermore, we should all be aware of the careful considerations regarding ethical treatment and precautions involved with adoption of a pure breed.
            </p>
            <br>
            <p>
                Each dog breed has a fascinating history, representing countless specific traits. While crossing of breeds may not be acceptable for show-quality, it is absolutely beneficial to most bloodlines, and will more likely result in wonderful, healthy offspring,
                revealing infinite combinations of the traits detailed here. Therefore, if you are looking to adopt, please consider rescuing a dog from a shelter. Older dogs in shelters are most often overlooked, but may be a perfect fit in your given
                situation.
            </p>
            <br>
            <hr class="my-4">
        </div>

        <h2>Thanks Y'all</h2>
        <div="thankYous">
            <br>
            <p>To Brenda, Jisie, Casey, Callan, <br> and all of my kind, intelligent comrades of Cohort 21.</p>
            <hr class="my-2">

            <p class="lead">And big ups to these resources that <br> lit up this little app with their beautiful data</p>
            <br>
            <a class="btn btn-primary btn-lg" href='' role="button">Callan Morrison's Project Repo</a>
            <br><br>
            <a class="btn btn-primary btn-lg" href='' role="button">Free APIs (Todd Motto Gh Repo)</a>
            <br><br>
            <a class="btn btn-primary btn-lg" href='' role="button">AKC.org</a>
            <br><br>
</div>
</div>