<div class="jumbotron">
    <i id="splashicon" class="material-icons">pan_tool</i>
    <!-- <i id="splashicon" class="material-icons">fingerprint</i> -->
    <i id="splashicon" class="material-icons">pets</i>
    <h1 class="display-3">your Doge</h1>
    <br>
    <!-- <p class="lead">Welcome back, {{User name}}!</p> -->

    <hr class="my-4">


    <h3>Your Saved Breeds:</h3><br>
    <!-- Here's where the saved breeds will go, stick them cards in a div that will include a DELETE chip to delete itself -->
    <article id="newSavedBreed">
        <div>
            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                breed.name
            </button>
            <!-- expand / collapse IMG and DESCRIPTION of each breed -->
            <div class="collapse" id="collapseExample">
                <div class="card card-block">
                    <img class="breedImage" ng-model="breed.image" ng-src="{{breed.image}}" aria-placeholder="breedImage">BREED IMAGE</img>
                    <p id="breedDetail" ng-model="breed.description">{{breed.description}}</p>
                    <button class="btn btn-danger">Delete</button>
                </div>
            </div>
            <p>
                <br>
                <hr class="my-4">
        </div>
    </article>


    <!-- YOUR SAVED SEARCHES:  -->
    <!-- User Name // # of ## questions answered // # of breeds in result // MM/DD/YY of search -->
    <!-- (Bootstrap panel w body and lists) -->
    <div class="panel panel-default">
        <!-- PANEL TITLE: -->
        <div class="panel-heading">
            <h3>Your Saved Searches:</h3>
        </div>

        <!-- PANEL Contents: -->
        <div class="panel-body">
            <i id="pawbullet" class="material-icons">pets</i>
            <a>user.name question += of 10 questions answered # of breeds recommended // MM/DD/YY of search}}</a>
            <hr class="my-4">
            <i id="pawbullet" class="material-icons">pets</i>
            <a>User Name # of ## questions answered # of breeds in result MM/DD/YY of search</a>
            <hr class="my-4">
            <i id="pawbullet" class="material-icons">pets</i>
            <a>User Name # of ## questions answered # of breeds in result MM/DD/YY of search</a>
            <hr class="my-4">
            <i id="pawbullet" class="material-icons">pets</i>
            <a>User Name # of ## questions answered # of breeds in result MM/DD/YY of search</a>
        </div>
    </div>
</div>