<div class="jumbotron">
    <i id="splashicon" class="material-icons">pan_tool</i>
    <!-- <i id="splashicon" class="material-icons">fingerprint</i> -->
    <i id="splashicon" class="material-icons">pets</i>
    <h1 class="display-3">yourDoge</h1>
    <br><br>
    <p class="lead">Welcome back, {{User first name}}!</p>
    <br>
    <p class="lead">
        <a class="btn btn-primary btn-lg" ng-ref='/item/newItem' role="button">New Doge Search</a>
    </p>
    <br>
    <hr class="my-4">
    <h3>Your saved breeds:</h3>
    <hr class="my-4">
    <!-- Here will be a list of saved searches for this user, in the following format:
User Name // # of ## questions answered // # of breeds in result // MM/DD/YY of search -->
    <h3>Your saved searches:</h3>
    <hr class="my-4">
    <i id="pawbullet" class="material-icons">pets</i>
    <a>{{user.name}} // {{question +=}}of 10 questions answered // {{# of breeds}} recommended // {{MM/DD/YY of search}}</a>
    <hr class="my-4">
    <i id="pawbullet" class="material-icons">pets</i>
    <a>User Name // # of ## questions answered // # of breeds in result // MM/DD/YY of search</a>
    <hr class="my-4">
    <i id="pawbullet" class="material-icons">pets</i>
    <a>User Name // # of ## questions answered // # of breeds in result // MM/DD/YY of search</a>
    <hr class="my-4">
    <i id="pawbullet" class="material-icons">pets</i>
    <a>User Name // # of ## questions answered // # of breeds in result // MM/DD/YY of search</a>
</div>

<!-- Bootstrap panel w body and lists -->
<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">Panel heading</div>
    <div class="panel-body">
        <p>...</p>
    </div>

    <!-- Table -->
    <table class="table">
        ...
    </table>
</div>
<!-- Bootstrap List items with item pills  -->
<ul class="list-group">
    <li class="list-group-item">
        <span class="badge">14</span> Cras justo odio
    </li>
</ul>

<!-- Bootstrap panel w body and lists -->
<div class="list-group">
    <button type="button" class="list-group-item">Cras justo odio</button>
    <button type="button" class="list-group-item">Dapibus ac facilisis in</button>
    <button type="button" class="list-group-item">Morbi leo risus</button>
    <button type="button" class="list-group-item">Porta ac consectetur ac</button>
    <button type="button" class="list-group-item">Vestibulum at eros</button>
</div>