<div class="jumbotron">
    <i id="splashicon" class="material-icons">pan_tool</i>
    <!-- <i id="splashicon" class="material-icons">fingerprint</i> -->
    <i id="splashicon" class="material-icons">pets</i>
    <h1 class="display-3">yourDoge</h1>
    <br><br>
    <p class="lead">Welcome back, {{User first name}}!</p>

    <p class="lead">
        <a class="btn btn-primary btn-lg" href='/item/newItem' role="button">New Doge Search</a>
    </p>
    <br><br>
    <hr class="my-4">
    <!-- Here will be a list of saved searches for this user, in the following format:
User Name // # of ## questions answered // # of breeds in result // MM/DD/YY of search -->
    <h3>Your searches:</h3>
    <hr class="my-4">
    <p>User Name // # of ## questions answered // # of breeds in result // MM/DD/YY of search</p>
    <hr class="my-4">
    <p>User Name // # of ## questions answered // # of breeds in result // MM/DD/YY of search</p>
    <hr class="my-4">
    <p>User Name // # of ## questions answered // # of breeds in result // MM/DD/YY of search</p>
    <hr class="my-4">
    <p>User Name // # of ## questions answered // # of breeds in result // MM/DD/YY of search</p>
</div>