<!-- This is the search all breeds functionality. Since it's only searching by single breed, it can print a single breed card to the page, no need to redirect  -->
<!-- SEARCH BY BREED NAME -->
<p class="lead">Search for a specific breed: </p>
<div class="container">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <div id="imaginary_container">
                <div class="input-group stylish-input-group">
                    <!-- The ng-model for the searchText lives -->
                    <input ng-model="breedSearch" type="text" class="form-control" placeholder="Example: Golden...">

                    </button>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
<hr class="my-4">

<!-- Limits the output to only after the user has typed 3 or more characters -->
<article class="breed-list" ng-show="breedSearch.length>=3">
    <!-- Output div for the search results: -->
    <section>
        <div ng-repeat="breed in allBreeds | filter:breedSearch">
            <img class="breedImage" ng-model="breed.image" ng-src="{{breed.image}}"></img>
            <h2 ng-model="breed.name">{{breed.name}}</h2>
            <p id="breedDetail" ng-model="breed.description">{{breed.description}}</p>

            <!-- Option to SAVE the breed, applied to each card - ONLY IF LOGGED IN  -->

            <a ng-show="!isLoggedIn" class="btn btn-primary btn-lg" role="button" ng-click="submitBreed()">Save</a>
            <nbsp>to
                <a href="partials/dashboard.html" ng-click="">My Breeds</a>
                <hr class="my-4">
        </div>
    </section>
    <hr class="my-4">
</article>
<!-- <p class="lead">Answer a lifestyle questionnaire to match you with the most suitable dog breeds</p>
        <a class="btn btn-primary btn-lg" href='#!/item/newItem' role="button">Let's go!</a>
        <hr class="my-4">
        <p>Your myDoge account lets you save your searches</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href='#!/login' role="button">Log In</a>
            <a class="btn btn-primary btn-lg" href='#!/login' role="button">Register</a> -->
</p>
</div>