<div class="jumbotron">
    <!-- <i id="splashicon" class="material-icons">fingerprint</i> -->
    <div id="handlogopaw">
        <i id="splashicon" class="material-icons">pan_tool</i>
        <i id="splashicon" class="material-icons">pets</i>
        <h1 class="display-3" style="font-family: Arvo">my Doge</h1>
    </div>
    <hr class="my-4">

    <!-- SEARCH : ng-include the search-keyword partial -->
    <!-- search controller partial loads -->
    <div ng-controller="breedCtrl">
        <div ng-include="'partials/search-keyword.html'">
        </div>
    </div>
    <hr class="my-4">

    <!-- OR: - a link to the new-QA page -->
    <p class="lead">What breeds are best suited to your lifestyle?</p>
    <br>
    <a class="btn btn-primary btn-lg" href="#!/item/newQA" role="button">Take a Quiz Find a Match</a>
    <hr class="my-4">

    <!-- A visitor/USER may LOGIN/REGISTER for saving data  -->
    <!-- <h3>yourDoge?</h3> -->
    <p>Save your searches and favorite breeds</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href='#!/login' role="button">Log In</a>
        <a class="btn btn-primary btn-lg" href='#!/login' role="button">Register</a>
    </p>

</div>