<div class="jumbotron">
    <i id="splashicon" class="material-icons">pan_tool</i>
    <!-- <i id="splashicon" class="material-icons">fingerprint</i> -->
    <i id="splashicon" class="material-icons">pets</i>
    <h1 class="display-3">myDoge</h1>

    <p class="lead">The best fit for you and your new pupper.</p>
    <hr class="my-4">
    <p>myDoge walks you through a lifestyle questionnaire to match you with the most suitable dog breeds</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href='/item/newItem' role="button">Let's Go!</a>
    </p>
    <hr class="my-4">
    <p>Your myDoge account lets you save your searches</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href='#!/login' role="button">Log In</a>
        <a class="btn btn-primary btn-lg" href='#!/login' role="button">Register</a>
    </p>
</div>